body {
    padding: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
    border: dotted
}

.first {
    grid-row: span 2;
    background-color: aqua;
    border: solid 5px black;
}
.second {
    grid-column-start: 3;
    grid-column-end: 6;
    background-color: blue;
    border-radius: 555px;
}
.third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: cadetblue;
    border-width: 3px;
    border: double;
}
.fourth {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background-color: teal;
    border: firebrick 3px ridge;
    

}

p {
    font-family: fantasy;
    color: lightseagreen;
    font-size: 18px;
}
